/***  
Config Normalize modificada

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }  
  ***/
html {
    display: block;
}
.Background-Header {
    background: #2D1C14;
    max-width: auto;
    height: 12vh;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    
    display: flex;
    justify-content: center;
    position: relative;
  }

.Background-Section-About {
    background: #8E7C78;
    max-width: auto;
    height: 40vh;

    display: flex;
    justify-content: center;
}


.Background-Section-List {
    background: #E5E5E5;
    max-width: auto;
    height: 40vh;

    display: flex;
    justify-content: center;
}

.Background-Footer {
    background: #2D1C14;
    max-width: auto;
    height: 8vh;

    display: flex;
    justify-content: center;
}

.Container-Header {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#name {
    color: #FFFFFF;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 100;
    letter-spacing: 0.2vw;
    font-size: 2.5vw;
    text-align: center;
}

.links {
    list-style-type: none;
    width: 15vw;
    display: flex;
    justify-content: space-between;
}

#link {
    color: #FFFFFF;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
    text-decoration: none;
}



.Container-Section-About {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#Image {
    max-width: 17vw;
    border-radius: 50vw;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);

}

.Container-Bio {
    width: 35vw;
}

#Title-Bio {
    color: #2D1C14;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.3vw;
    font-weight: bold;
    padding-bottom: 0.5vh;
}

#Text-Bio {
    color: #FFFFFF;
    font-family: 'Poiret One', cursive;
    font-weight: 100;
    font-size: 1vw;

}


.Container-Section-List {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Container-Hobbies {
    width: 38vw;
    height: auto;
    text-align: end;
}


.Hobbies-List {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#Hobbies {
    color: #2D1C14;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.3vw;
    font-weight: bold;
    padding-bottom: 1.5vh;
}

#Hobbie {
    background-color: #513E38;
    height: 20vh;
    width: 7vw;
    border-radius: 5px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
    border: 1px solid #2D1C14;
}

#Name-Hobbie {
    color: #2D1C14;
    font-size: 0.8vw;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
    padding-top: 1vh;
}


.Container-Top5 {
    width: 38vw;
    height: 27.5vh;
    text-align: start;

}

.Top5-List {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#Top5 {
    color: #2D1C14;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.3vw;
    font-weight: bold;
    padding-bottom: 1.5vh;
}

#TOP {
    background-color: #513E38;
    height: 20vh;
    width: 7vw;
    border-radius: 5px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
    border: 1px solid #2D1C14;
}

#Name-TOP {
    color: #2D1C14;
    width: 7vw;
    font-size: 0.8vw;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
    padding-top: 1vh;
}

.Container-Footer {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Icons {
    list-style-type: none;
    width: 15vw;
    display: flex;
    justify-content: space-between;
}

#icon {
    height: 2.2vw;
    width: 2.2vw;
    border-radius: 50vw;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
}

#Contato {
    background-color: #DFDFDF;
    padding: 0.8vw;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);

    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.8vw;
    color: #2D1C14;
    font-stretch: bold;

}

#icon:hover, #Contato:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0.5em rgb(253, 253, 253);
}

#link:hover {

    font-size: 1.3vw;
    text-shadow: 0 0 1em rgb(253, 253, 253);
}


@media screen and (max-width: 912px) {
    html {
        display: block;
    }
    
    body {
        padding-top: 109px;
    }
    .Background-Header {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        background: #2D1C14;
        max-width: 100vw;
        height: 109px;
        box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
        
        /* display: flex; */
        /* justify-content: center; */
        /* position: relative; */
      }
    
    .Background-Section-About {
        background: #8E7C78;
        max-width: 100vw;
        height: 584px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .Background-Section-List {
        background: #E5E5E5;
        max-width: 100vw;
        height: 890px;
    
        display: flex;
        justify-content: center;
    }
    
    .Background-Footer {
        background: #2D1C14;
        max-width: 100vw;
        height: 127px;
    
        display: flex;
        justify-content: center;

        
    }

    .Container-Section-About {
        height: 80%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid red; */
        
    }

    #name {
        color: #FFFFFF;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 100;
        letter-spacing: 5%;
        font-size: 170%;
        text-align: center;
    }
    
    .links {
        list-style-type: none;
        width: 15vw;
        display: flex;
        justify-content: space-between;
    }
    
    #link {
        color: #FFFFFF;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 400;
        font-size: 1.2vw;
        text-decoration: none;
    }

    #Image {
        max-width: 27vh;
        border-radius: 50vw;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
    
    }
    
    .Container-Bio {
        width: 90%;
        height: auto;
    }
    
    #Title-Bio {
        color: #2D1C14;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 150%;
        font-weight: bold;
        padding-bottom: 5%;
    }
    
    #Text-Bio {
        color: #FFFFFF;
        font-family: 'Poiret One', cursive;
        font-weight: 100;
        font-size: 75%;
    
    }

    .Container-Section-List {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    
    .Container-Hobbies {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    
    
    .Hobbies-List {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
    
    #Hobbies {
        color: #2D1C14;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 100%;
        font-weight: bold;
        padding-top: 2%;
    }
    
    #Hobbie {
        background-color: #513E38;
        height: 150px;
        width: 102px;
        border-radius: 5px;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
        border: 1px solid #2D1C14;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    #Name-Hobbie {
        color: #2D1C14;
        width: 100%;
        height: auto;
        padding: 0;
        font-size: 70%;
        font-family: 'Julius Sans One', sans-serif;
        text-align: center;
        text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
        
        /* border: 1px solid red; */
    }

    .Container-Top5 {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    
    .Top5-List {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
    
    #Top5 {
        color: #2D1C14;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 100%;
        font-weight: bold;
        padding-top: 5%;
    }
    
    #TOP {
        background-color: #513E38;
        height: 150px;
        width: 102px;
        border-radius: 5px;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
        border: 1px solid #2D1C14;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    #Name-TOP {
        color: #2D1C14;
        width: 100%;
        height: auto;
        padding: 0;
        font-size: 70%;
        font-family: 'Julius Sans One', sans-serif;
        text-align: center;
        text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
    }
    
    .Container-Footer {
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .Icons {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #icon {
        height: 35px;
        width: 35px;

    }
    
    #Contato {
        background-color: #DFDFDF;
        padding: 3%;
        border-radius: 10px;
        text-decoration: none;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
    
        font-family: 'Julius Sans One', sans-serif;
        font-size: 70%;
        color: #2D1C14;
        font-stretch: bold;


    
    }
}

/*
@media screen and (max-width: 710px) {
    html {
        display: block;
    }
    
    body {
        padding-top: 109px;
    }
    .Background-Header {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        background: #2D1C14;
        max-width: 100vw;
        height: 109px;
        box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);

      }
    
    .Background-Section-About {
        background: #8E7C78;
        max-width: 100vw;
        height: 440px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .Background-Section-List {
        background: #E5E5E5;
        max-width: 100vw;
        height: 890px;
    
        display: flex;
        justify-content: center;
    }
    
    .Background-Footer {
        background: #2D1C14;
        max-width: 100vw;
        height: 90px;
    
        display: flex;
        justify-content: center;

        
    }

    .Container-Section-About {
        height: 80%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        
    }

    #name {
        color: #FFFFFF;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 100;
        letter-spacing: 5%;
        font-size: 170%;
        text-align: center;
    }
    
    .links {
        list-style-type: none;
        width: 15vw;
        display: flex;
        justify-content: space-between;
    }
    
    #link {
        color: #FFFFFF;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 400;
        font-size: 1.2vw;
        text-decoration: none;
    }

    #Image {
        max-width: 27vh;
        border-radius: 50vw;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
    
    }
    
    .Container-Bio {
        width: 90%;
        height: auto;
    }
    
    #Title-Bio {
        color: #2D1C14;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 150%;
        font-weight: bold;
        padding-bottom: 5%;
    }
    
    #Text-Bio {
        color: #FFFFFF;
        font-family: 'Poiret One', cursive;
        font-weight: 100;
        font-size: 75%;
    
    }

    .Container-Section-List {
        width: 90%;
        height: 77%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    
    .Container-Hobbies {
        width: 70%;
        justify-content: center;
        text-align: center;
    }
    
    
    .Hobbies-List {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
    
    #Hobbies {
        color: #2D1C14;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 100%;
        font-weight: bold;
        padding-top: 2%;
    }
    
    #Hobbie {
        background-color: #513E38;
        height: 160px;
        width: 112px;
        border-radius: 5px;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
        border: 1px solid #2D1C14;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    #Name-Hobbie {
        color: #2D1C14;
        width: 100%;
        height: auto;
        padding: 0;
        font-size: 70%;
        font-family: 'Julius Sans One', sans-serif;
        text-align: center;
        text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
        

    }

    .Container-Top5 {
        width: 70%;
        justify-content: center;
        text-align: center;
    }
    
    .Top5-List {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
    
    #Top5 {
        color: #2D1C14;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 100%;
        font-weight: bold;
        padding-top: 5%;
    }
    
    #TOP {
        background-color: #513E38;
        height: 160px;
        width: 112px;
        border-radius: 5px;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
        border: 1px solid #2D1C14;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    #Name-TOP {
        color: #2D1C14;
        width: 100%;
        height: auto;
        padding: 0;
        font-size: 70%;
        font-family: 'Julius Sans One', sans-serif;
        text-align: center;
        text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
    }
    
    .Container-Footer {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .Icons {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #icon {
        height: 40px;
        width: 40px;

    }
    
    #Contato {
        background-color: #DFDFDF;
        width: 25%;
        padding: 3%;
        border-radius: 10px;
        text-decoration: none;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
    
        font-family: 'Julius Sans One', sans-serif;
        text-align: center;
        font-size: 90%;
        color: #2D1C14;
        font-stretch: bold;


    
    }
}
*/